@using GestionJuridico.Extensions
@model Menu
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/img/logo_goes.png" alt="GOES Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Jurídico</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="@User.GetUserGraphPhoto()" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">@User.GetUserGraphDisplayName()</a>
                </div>
            </div>
        }
        <nav class="user-panel mt-2 mt-3 pb-3 mb-3">
            <ul class="nav nav-pills nav-sidebar flex-column">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut" class="nav-link">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>
                                Cerrar sesión
                            </p>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" class="nav-link">
                            <i class="nav-icon fas fa-sign-in-alt"></i>
                            <p>
                                Iniciar sesión
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @foreach (var categoriaMenu in Model.Items)
                {
                    <li class="nav-header">@categoriaMenu.Nombre</li>
                    foreach (var conjuntoItemMenu in categoriaMenu.ConjuntoItems)
                    {
                        <li class="@(conjuntoItemMenu.Activo ? "nav-item menu-open" : "nav-item")">
                            <a href="#" class="@(conjuntoItemMenu.Activo ? "nav-link active" : "nav-link")">
                                <i class="nav-icon fa @conjuntoItemMenu.Icono"></i>
                                <p>
                                    @conjuntoItemMenu.Nombre
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            @foreach (var itemMenu in conjuntoItemMenu.Items)
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="@itemMenu.Controlador" asp-action="@itemMenu.Accion" class="@(itemMenu.Activo ? "nav-link active" : "nav-link")">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>@itemMenu.Nombre</p>
                                        </a>
                                    </li>
                                </ul>
                            }
                        </li>
                    }
                    foreach (var itemMenu in categoriaMenu.Items)
                    {
                        <li class="nav-item">
                            <a asp-controller="@itemMenu.Controlador" asp-action="@itemMenu.Accion" class="@(itemMenu.Activo ? "nav-link active" : "nav-link")">
                                <i class="nav-icon fa @itemMenu.Icono"></i>
                                <p>@itemMenu.Nombre</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>